/* Image sizing and positioning*/
#headjpg {width:300px;}
#homeshoejpg{width:400px;float:right;background-color: #7C98B3;padding:20px;}
#instagramjpg{width:20px;margin:0px;}
#paintcanjpg{width:600px;}
#cleanairjpg{width:300px;}
#brushesjpg{max-width:100%;}
.column img{
    margin-top:20px;
    margin-left:90px;
    vertical-align: middle;
    height:275px;
    width:275px;
    border:8px solid #7C98B3;
}
.row{
    display:flex;
    flex-wrap:wrap;    
}
.column{
    flex:33%;
    padding: 40px;
}
.headshot{
    float:left;
    background-color: #7C98B3;
    margin-left:20px;
}
.clear{
    clear:left;
}
.clear2{
    clear:right;
}
.paintcans{
    float:right;
}
.paintqmaterials{
    float:left;
    margin:20px;
}
.clean2jpg{
    float:left;
}
img{margin:20px;}
/*Navigation bar*/
nav{
    background-color:#5F506B;
    padding:70px;
    text-align:center;
    font-size: 30px;
    color:white;
}
a{
    color:white;
    text-decoration:none;
}
a:hover{
    background-color: #7C98B3;
}

body{
    background-color: #CEE5F2;
    font-size:18px;
}
h2{
    font-family: 'Playfair Display', serif;
    
}
/*Home Page*/
.intro{
    margin:20px;
    padding:70px 50px 82px 0px;
    background-color: #7C98B3;
}
#start{
    margin:20px;
    padding:50px 0px 50px 50px;
    background-color: #7C98B3;
}
/*Process*/
.midparagraph{
    margin:30px;
    padding-top:2px;
    background-color: #CEE5F2;
}
ul{
    background-color:#7C98B3;
    margin: 0px 800px 0px 40px;
    padding: 20px 0px 20px 50px;
}
.painting{
    margin:0px 50px 0px 50px;
}
/*Gallery*/
#gallery{
    text-align:center;
    padding:20px;
    margin:10px 500px 0px 500px;
    background-color:#7C98B3;
    border:5px solid #5F506B;
}
/*Footer*/
footer{
    background-color:#5F506B;
    color:white;
    padding:10px;
}
.footer{
    display:flex;
}

span{
    background-color:#86BBBD;
}
.instaf{
    float:right;
}
