/*body{
    font-family:Optima, sans-serif;
    background-color:#CEE5F2;
}
a{
    color:black;
    text-decoration:none;
}
nav{
    text-align:center;
    padding:50px;
    font-size:20px;
    background-color:#536B78;
}*/
/*Gallery CSS
.row{
    display:flex;
    flex-wrap:wrap;    
}
.column{
    flex:33%;
    padding: 40px;
}
.column img{
    margin-top:20px;
    margin-left:60px;
    vertical-align: middle;
    height:275px;
    width:275px;
}
h1{
    text-align:center;
    margin-top:0px;
    padding-top:30px;
}
.gallerycolor{
    background-color:#CEE5F2;
}
*/
/*Home CSS
.headshot{
    height:400px;
    width:300px;
}
.homeshoe{
    height:350px;
    width:350px;
    float:right;
    padding:30px;
    margin:5px;
    margin-top:15px;
}
.headshot{
    float:left;
    margin:30px;
    padding:5px;
}
.clear{
    clear:left;
}
p, ul{
    margin:3px;
    padding:20px;
    background-color:#7C98B3;
}
h2{
    margin:30px;
    background-color:#86BBBD;
    text-align:left;
}
.story{
    margin-bottom:20px;
}
.artist{
    font-size:20px;
}
.homepone{
    margin-left:200px;
    margin-right:20px;
}
.homeptwo{
    margin-left:20px;
    margin-right:200px;
}
.navb{
    background-color:white;
    margin-right:300px;
    margin-left:300px;
    
}
/*Footer*/
.instagram{
    height:20px;
}
footer{
    background-color:#637081;
    color:white;
    padding:10px;
}
.footer{
    display:flex;
}
/*Process Page*/
#paintcans{
    width:400px;
}
#airpair{
    width:300px;
}
#brushes{
    width:1240px;
}
#quality{
    float:left;
}
.paintcan{
    float:right;
}
.paintingshoe{
    float:left;
}
.cleanimage{
    float:right;
}