/* Image sizing and positioning*/
#headjpg {width:300px;}
#homeshoejpg{width:400px;background-color: #7C98B3;padding:40px 25px 40px 25px;margin:30px 20px 20px 20px;}
#instagramjpg{width:20px;margin:0px;}
#paintcanjpg{width:600px;}
#cleanairjpg{width:300px;}
#brushesjpg{max-width:100%; margin:0px;}

/*.clear{
    clear:left;
}
.clear2{
    clear:right;
}*/
.paintcans{
    float:right;
}
.paintqmaterials{
    float:left;
    margin:20px;
}
.clean2jpg{
    float:left;
}
img{margin:20px;}
/*Navigation bar*/
nav{
    background-color:#5F506B;
    padding:70px;
    text-align:center;
    font-size: 30px;
    color:white;
}
a{
    color:white;
    text-decoration:none;
}
a:hover{
    background-color: #7C98B3;
}

body{
    background-color: #CEE5F2;
    font-size:18px;
}
h2{
    font-family: 'Playfair Display', serif;
    
}
/*Home Page*/
.firstflex{
    display:flex;
    justify-content: center;
    flex-basis: 50%;
}
.secondflex{
    display:flex;
    justify-content: center;
    flex-basis: 50%;
}
.intro{
    margin:20px 20px 0px 20px;
    padding:30px;
    background-color: #7C98B3;
}
#start{
    margin:20px;
    padding: 30px;
    background-color: #7C98B3;
}
.headshot{
    background-color: #7C98B3;
    margin:20px 0px 0px 20px;
}
/*Process*/
.midparagraph{
    margin:30px;
    padding-top:2px;
    background-color: #CEE5F2;
}
ul{
    background-color:#7C98B3;
    margin: 0px 800px 0px 40px;
    padding: 20px 0px 20px 50px;
}
.painting{
    margin:0px 50px 0px 50px;
}
/*Gallery*/
#sgallery{
    text-align:center;
    /*background-color:#86BBBD;*/
    border:5px solid #5F506B;/
}
.column img{
    margin-top:20px;
    margin-left:90px;
    vertical-align: middle;
    height:260px;
    width:260px;
    border:8px solid #7C98B3;
}
.row{
    display:flex;
    flex-wrap:wrap;    
}
.column{
    flex:33%;
    padding: 40px;
}
/*Footer*/
footer{
    background-color:#5F506B;
    color:white;
    padding:10px;
}
.footer{
    display:flex;
}

span{
    background-color:#86BBBD;
}
.instaf{
    float:right;
}
.column img:hover{
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width:900px){
    .column img {margin-left:0px;}
    .firstflex, .secondflex{flex-wrap:wrap;}
    #paintcanjpg{max-width:100%;}
    img{margin:0px;}
    #homeshoejpg{padding:0px;margin:0px;width:300px;}
 }
