body{
    background-color:#B6BBC6;
    color:#332F6E;
}
h1{
  color:#A75086; 
  text-align:center;
}
nav a{
    background-color:#D6A6AC;
    padding: 10px;
    margin-bottom: 30px;
}
nav a:hover{
    background-color:#A75086;
}
.quote{
    float:right;
    margin-right:15px;
}
.box1{background-color:#A57897;
    padding:40px;
    margin:30px;
    border-radius:1em;}
.box2{
    background-color:#A57897;
    display:flex;
    padding:40px;
    margin:30px;
    border-radius:1em;
width:950px;}
.map{flex:1; order:2;}
.form{flex:2;order:1;margin-top:50px;}
.linked{float:right; 
        position:relative;
        top:-100px;
        left:-550px;}
.clear{clear:both;}
img{
    width: 70px;
}
aside{
    Background-color:#A75086;
    width:200px;
    border-radius:1em;
    padding:20px;
}
.column1{
    display:flex;
    flex-basis:75%;
    justify-content:space-around;
}
.column2{
    display:flex;
    flex-basis:25%;
}
.outerflexbox{display:flex;}
.body{
    margin:20px;
    padding:20px;}